* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	font-family: "Nunito", sans-serif;
	background: url('../img/bg.png') no-repeat right  #0DBEEC ;
	color: white;
	text-decoration: none;

}

a {
	text-decoration: none;
}

.container {
	max-width: 1005px;
	margin: 0 auto;
	padding: 2em 1em;
}

header {
	text-align: center;

}

#app-logo {
	width: 180px;
}

nav {
	margin: 2em auto 0;
	max-width: 600px;

}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	
}


nav ul li  {
	list-style: none;
	
}


nav ul li a {
	font-size: 1.25em;
	color: white;
	font-weight: 700;
	text-decoration: none;
	
}


main {
	display: flex;
	flex-flow: column;
	
}

.container-hero {
	max-width: 1005px;
	margin: 0 auto;
	padding: 2em 1em;
	text-decoration: none;
}
.hero {
	text-align: center;
	color: white;
	text-decoration: none;

}

.hero h1 {
	font-size: 2.5em;
	font-weight: 700;
	text-decoration: none;
	color: white;
	text-align: center;
}

.hero p {
	font-size: 1.2em;
	font-weight: 400;
	max-width: 500px;
	line-height: 1.8em;
	margin: 3em auto;
	color: white;
	text-decoration: none;
	border: none;
}






figure{
text-align: center;

}

figure img {
	margin: 3em auto 0;
	width: 600px;

}


@media screen and (min-width: 820px) {
	header {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
		align-items: center;
	}
	nav {
		margin: 0;
	}
	nav ul {
		margin: 0;
		padding: 0;
		display: flex;
	}
	nav ul li {
		list-style: none;
		padding: 0.5em 2em;
	}
	nav ul li a {
		font-size: 1.375em;
		color: white;
		font-weight: 700;
		text-decoration: none;

	}
	.highlight {
		border: 3px solid #ffdb37;
		border-radius: 50px;
	}
	main {flex-flow: row;
}

.hero {
	text-align: left;
}
.hero h1{
	font-size: 4em;
	text-align: left;

}
.hero p:before {
	margin: 1em 0;
}
.hero p {
	font-size: 1.3em;
	padding: 0;
	margin-top: 0 0 3em 0;
}

.hero a {
	background: #ae79c4;
}
.figure img {
	width: 300px;
	margin: 0; }
}